p {
  font-family: Lato;
}


.form-inline {
  border: 1px solid #CCC;
  border-radius: 4px;
  min-width:0;
}

.form-index{
  border-radius: 4px;
  height: 30px;
}

.control {
  width: calc(33% - 2.3rem);
}

input {
  max-width: 100%;
}
